<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline" color="success"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title >RegistrAPP <img src="assets/logo.PNG" class="ion-padding imagen"></ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarSesion()">
        Cerrar Sesión
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <p style="text-align:center;font-weight:bold;color:rgb(84, 24, 153)"> Hola! {{nombre}}</p>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">RegistrAPP</ion-title>
    </ion-toolbar>
  </ion-header>




  <ion-card>
    <ion-card-header class="encabezado">
      <ion-card-subtitle style="color:rgb(121, 64, 212); font-weight: bold;">Verificar asistencia</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="contenido">
      <ion-button routerLink="/scanner" expand="block" fill="solid" size="small" color="tertiary" shape="default">
        Scannear codigo qr
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header class="encabezado">
      <ion-card-subtitle style="color:rgb(121, 64, 212); font-weight: bold;">Desea actualizar informacion</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="contenido">
      <ion-button routerLink="/perfil2" expand="block" fill="solid" size="small" color="tertiary" shape="default">
        actualizar informacion
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>ID #{{alumnos.id}}</ion-card-subtitle>
      <ion-card-title>Nombre:{{alumnos.nombre}} </ion-card-title>
      <ion-card-title>Apellido paterno:{{alumnos.apellidop}} </ion-card-title>
      <ion-card-title>Apellido materno:{{alumnos.apellidom}} </ion-card-title>
      <ion-card-title>Telefono:{{alumnos.telefono}} </ion-card-title>      
    </ion-card-header>
  </ion-card>


</ion-content>
